@tailwind base;
@tailwind components;
@tailwind utilities;


.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }